html {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #000; /* Black background */
    color: #8B4513; /* Brown text */
}

.Container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    margin: 5% 5%;
    border-radius: 10px; /* Rounded corners for the container */
    gap: 20px;
    row-gap: 45px;
}

.Header {
    grid-column: 1 / -1;
    grid-row: 1;
    text-align: center;
    background-color: #000; /* Consistent black background */
    border-radius: 10px; /* Rounded corners for the header */
}

.Content {
    display: grid;
    grid-row: 2;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    padding: 1em;
    border-radius: 10px; /* Rounded corners for the content */
    gap: 25px;
}

.About {
    grid-column: 1  2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Elevated card look */
    padding: 0.5em;
    color: #8B4513; /* Black text for contrast */
    border-radius: 10px; /* Rounded corners for the about section */
}

.OutputField {
    grid-column: 1;
    grid-row: 2;
    padding: 1em;
    background-color: #000; /* Black background */
    border-radius: 10px; /* Rounded corners for the output field */
}

.GlobeVisualization {
    grid-column: 2;
    grid-row: 2;
    padding: 1em;
    background-color: #000; /* Black background */
    border-radius: 10px; /* Rounded corners for the globe visualization */
}


.InputField {
    grid-column: 1/3;
    grid-row: 3/4;
    padding: 5%;
    justify-content: center; 
    border-radius: 50px; 
    height: 25;
}


input[type="text"] {
    border: 2px solid #8B4513; /* Brown border */
    background-color: #000; /* Black background */
    color: #8B4513; /* Brown text */
    border-radius: 5px; /* Slightly rounded corners for the input text */
    width: 100%;
    height: 25px;
}

.userInputSubmit {
    padding: 0.5em 1em;
    background-color: #8B4513; /* Green background */
    color: #000; /* Black text */
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    width: 100%;;
}

.htmx-indicator {
    opacity: 0;
    transition: opacity 500ms ease-in;
    border-radius: 10px; /* Rounded corners for the htmx indicator */
}

.htmx-request .htmx-indicator {
    opacity: 1
}
