<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaia</title>
    <link href="../static/style.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap" rel="stylesheet">
    <script src="../static/htmx.min.js"></script>
</head>

<body>
    <div class="Container">

        <header class="Header">
            <h1>Gaia</h1>
        </header>

        <main class="Content">

            <section class="About" id="About">
                <h1>About</h1>
                <p>Gaia is your guide to understanding the state of the Earth.</p>
                <p>She can help you discover its geography, the animals that inhabit it, climate change patterns, and more.</p>
            </section>
            
            <div id="output" class="OutputField">Output will appear here.</div>

            <div id="globe" class="GlobeVisualization">Globe visualization will be added here.</div>

            <div class="InputField">
                <form hx-post="/query" hx-target="#output" hx-swap="innerHTML" hx-indicator="#loader">
                        <input type="text" class="userInput" name="userInput">
                        <button class="userInputSubmit"> Ask Gaia </button>
                </form>
            </div>
            
        </main>

        <div id="loader" class="htmx-indicator">Thinking...</div>

    </div>

</body>
</html>
